{% extends "base_site.html" %}

{% block title %} Dashboard 1 {% endblock title %}

{% block stylesheets %}
  {{ super() }}
{% endblock stylesheets %}

{% block content %}
  <div class="right_col" role="main">


    <div class="row top_tiles"  style="margin: 10px 0; margin-bottom: 0px;">
        <div class="col-md-2 col-sm-3 col-xs-12 tile"  style="margin-bottom: 10px;">
          <select class="select2_single form-control" id="orgNames" tabindex="-1">
          </select>
        </div>
        <div class="col-md-2 col-sm-3 col-xs-12 tile"  style="margin-bottom: 10px;">
          <div id="reportrange_right" class="form-control" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">
            <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
            <span>March 27, 2018 - April 25, 2018</span> <b class="caret"></b>
          </div>
        </div>
      </div>
    <div class="row" id='main-row' style="visibility:hidden !important;">
    <!-- top tiles -->
            <div class="row top_tiles">
              <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats">
                  <div class="icon"><i class="fa fa-user"></i></div>
                  <div class="count" id="usersCount">0</div>
                  <h3>Users</h3>
                </div>
              </div>
              <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats">
                  <div class="icon"><i class="fa fa-users"></i></div>
                  <div class="count" id="teamsCount">0</div>
                  <h3>Teams</h3>
                </div>
              </div>
              <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats">
                  <div class="icon"><i class="fa fa-archive"></i></div>
                  <div class="count" id="repositoriesCount">0</div>
                  <h3>Repositories</h3>
                </div>
              </div>
              <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats">
                  <div class="icon"><i class="fa fa-arrow-circle-o-up"></i></div>
                  <div class="count" id="AvCommitsCount">0</div>
                  <h3>Total Commits</h3>
                </div>
              </div>
            </div>
    <!-- /top tiles -->

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="dashboard_graph">

          <div class="row x_title">
            <div class="col-md-6">
              <h3>Organization Commits <small>Graph title sub-title</small></h3>
            </div>
            <div class="col-md-6">
              <div id="reportrange" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">
                <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                <span>December 30, 2014 - January 28, 2015</span> <b class="caret"></b>
              </div>
            </div>
          </div>

          <div class="col-md-12 col-sm-12 col-xs-12">
            <div id="orgCommitsChart" data-stuff='["a","b","c"]' class="demo-placeholder"></div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>

    <br />

    <div class="row">

      <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="x_panel tile fixed_height_320 overflow_hidden">
          <div class="x_title">
            <h2>Readme</h2>
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
              <li><a class="close-link"><i class="fa fa-close"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <table class="" style="width:100%">
              <tr>
                <th style="width:55%;">
                  <p>Readme Repositories</p><br>
                </th>
                <th>
                  <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                    <p class="">Status</p>
                  </div>
                  <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                    <p class=""></p>
                  </div>
                </th>
              </tr>
              <tr>
                <td>
                  <canvas id="readmeChart" height="140" width="140" style="margin: 15px 10px 10px 0"></canvas>
                </td>
                <td style="vertical-align:top;">
                  <table class="tile_info" id="readmeChartData">
                  </table>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="x_panel tile fixed_height_320 overflow_hidden">
          <div class="x_title">
            <h2>OpenSource</h2>
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
              <li><a class="close-link"><i class="fa fa-close"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <table class="" style="width:100%">
              <tr>
                <th style="width:55%;">
                  <p>OpenSource Repositories</p><br>
                </th>
                <th>
                  <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                    <p class="">Status</p>
                  </div>
                  <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                    <p class=""></p>
                  </div>
                </th>
              </tr>
              <tr>
                <td>
                  <canvas id="openSourceChart" height="150" width="150" style="margin: 15px 10px 10px 0"></canvas>
                </td>
                <td style="vertical-align:top;">
                  <table class="tile_info" id="openSourceChartData">
                  </table>
                </td>
              </tr>
            </table>
          </div>R
        </div>
      </div>


      <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="x_panel tile fixed_height_320 overflow_hidden">
          <div class="x_title">
            <h2>Readme Languages</h2>
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
              <li><a class="close-link"><i class="fa fa-close"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <table class="" style="width:100%">
              <tr>
                <th style="width:55%;">
                  <p>OpenSource Readme Languages</p>
                </th>
                <th>
                  <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                    <p class="">Status</p>
                  </div>
                  <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                    <p class=""></p>
                  </div>
                </th>
              </tr>
              <tr>
                <td>
                  <canvas id="openSourceReadmeLanguages" height="150" width="150" style="margin: 15px 10px 10px 0"></canvas>
                </td>
                <td style="vertical-align:top;">
                  <table class="tile_info" id="openSourceReadmeLanguagesData">
                  </table>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>



      <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="x_panel tile fixed_height_852">
          <div class="x_title">
            <h2>Last Commits <small></small></h2>
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
              <li><a class="close-link"><i class="fa fa-close"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <div class="dashboard-widget-content">
              <ul class="list-unstyled timeline widget" id="orgLastCommits">
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-8 col-sm-8 col-xs-12">

        <div class="row">

          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel tile fixed_height_390">
              <div class="x_title">
                <h2>Issues <small></small></h2>
                <ul class="nav navbar-right panel_toolbox">
                  <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                  </li>
                  <li><a class="close-link"><i class="fa fa-close"></i></a>
                  </li>
                </ul>
                <div class="clearfix"></div>
              </div>
              <div class="x_content">
                <div class="dashboard-widget-content">
                  <div id="orgIssuesChart" class="demo-placeholder"></div>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="row">

          <!-- End to do list -->
          <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Code Languages</h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="#">Settings 1</a>
                          </li>
                          <li><a href="#">Settings 2</a>
                          </li>
                        </ul>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">

                    <div id="orgLanguagesChart" style="height:350px;"></div>

                  </div>
                </div>
              </div>

          <!-- start of weather widget -->
          <!-- end of weather widget -->
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ super()}}
    <script>var page='org';</script>
  <!-- Chart.js -->
  <script src="{{ url_for('static', filename='vendors/Chart.js/dist/Chart.min.js') }}"></script>
  <!-- gauge.js -->
  <script src="{{ url_for('static', filename='vendors/gauge.js/dist/gauge.min.js') }}"></script>
  <!-- Skycons -->
  <script src="{{ url_for('static', filename='vendors/skycons/skycons.js') }}"></script>
  <!-- Flot -->
  <script src="{{ url_for('static', filename='vendors/Flot/jquery.flot.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/Flot/jquery.flot.pie.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/Flot/jquery.flot.time.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/Flot/jquery.flot.stack.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/Flot/jquery.flot.resize.js') }}"></script>
  <!-- Flot plugins -->
  <script src="{{ url_for('static', filename='vendors/flot.orderbars/js/jquery.flot.orderBars.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/flot-spline/js/jquery.flot.spline.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/flot.curvedlines/curvedLines.js') }}"></script>
  <!-- DateJS -->
  <script src="{{ url_for('static', filename='vendors/DateJS/build/date.js') }}"></script>
  <!-- JQVMap -->
  <script src="{{ url_for('static', filename='vendors/jqvmap/dist/jquery.vmap.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/jqvmap/dist/maps/jquery.vmap.world.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/jqvmap/examples/js/jquery.vmap.sampledata.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/echarts/dist/echarts_english.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/raphael/raphael.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/morris.js/morris.min.js') }}"></script>
{% endblock javascripts %}
